<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting label="בדוק בדפדפן באיזו כתובת ניתן להגיע לאתר והקלד את הכתובת כאן" type="lsep"/>
	<setting label="MOVIX.ME ניתן לבדוק גם בעמוד הפייסבוק של" type="lsep"/>
	<setting id="domain" type="text" label="DOAMIN" default="http://movix.byethost17.com" />
	<setting id="userAgent" type="text" label="User-Agent" default="" />
	<setting id="username" type="text" label="שם משתמש" default=""/>
	<setting id="password" type="text" label="סיסמא" option="hidden" enable="!eq(-1,)" default=""/>
	<setting id="action" type="action" label="Clear cache - ניקוי מטמון" action="RunPlugin(plugin://plugin.video.movixws/main.py?mode=20&url=clearCache)" option="close"/>
	<setting id="showImages" type="bool" label="Show images - הצגת תמונות" default="true"/>
	<setting id="action" type="action" label="Delete images - מחיקת תמונות" action="RunPlugin(plugin://plugin.video.movixws/main.py?mode=21&url=deleteImages)" option="close"/>
</settings>
